.display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  #sheetMusic {
    background-color: #fafafa;
    border-radius: 8px;
  }

  button {
    background-color: #333;
    border-radius: 4px;
    padding: 1rem;
    font-size: 3em;
    line-height: 0;
  }
}
